<div id="starter" ng-init="blockly.js.blockly.OperacoesVariavelEscopo.criar()" ng-destroy="">
   &nbsp; 
  <div class="component-holder ng-binding ng-scope col-lg-12 col-md-12 col-sm-12 col-xs-12" data-component="crn-panel" id="crn-panel-720282"> 
    <div class="panel panel-primary" xattr-theme="panel-primary" data-container="true"> 
      <div class="panel-heading" data-container="true"> 
        <div class="panel-title"> 
          <div class="lead component-holder text-left" data-component="crn-title" xattr-position="text-left">
             Nova Venda 
          </div> 
        </div> 
      </div> 
      <div class="panel-body" data-container="true"> 
        <div class="component-holder ng-binding ng-scope col-lg-2 col-md-2 col-sm-2 col-xs-2" data-component="crn-textinput" id="crn-textinput-207830"> 
          <div class="form-group"> 
            <label for="exampleInputEmail1">Quantidade</label> 
            <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.input6044" class="form-control" id="input6044" placeholder="Placeholder text"> 
          </div> 
        </div> 
        <div class="component-holder ng-binding ng-scope col-md-10 col-lg-10 col-xs-9 col-sm-9" data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-1074589"> 
          <div class="form-group"> 
            <label for="">Label</label> 
            <ui-select crn-datasource="Produto" ng-model="vars.Produto" ng-disabled="disabled" theme="bootstrap" class="crn-select" ng-required="false"> 
              <ui-select-match placeholder="Select..." class="">
                 {{$select.selected.nome}} 
              </ui-select-match> 
              <ui-select-choices repeat="rowData as rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay=""> 
                <div class="">
                   {{rowData.nome}} 
                </div> 
              </ui-select-choices> 
            </ui-select> 
          </div>
        </div><h2 class="lead component-holder col-md-12 col-lg-12 col-xs-12 col-sm-12 text-right" xattr-position="text-right" data-component="crn-subtitle" id="crn-subtitle-501579">PREÇO: {{ (vars.Produto.preco_venda * vars.input6044 &gt; 0) ? vars.Produto.preco_venda * vars.input6044 : '' }}</h2> 
        <div class="component-holder ng-binding ng-scope col-md-12 col-lg-12 col-xs-12 col-sm-12" data-component="crn-button" id="crn-button-343764">
          <button class="btn btn-block btn-success" type="submit" xattr-size="" xattr-fullsize="btn-block" xattr-theme="btn-success" data-component="crn-button" ng-click="blockly.js.blockly.OperacoesVariavelEscopo.inserir(vars.Produto, vars.input6044)"><i class="glyphicon glyphicon-plus"></i> <span>Adicionar</span></button>


        </div> 
        <div class="component-holder ng-binding ng-scope col-xs-12 col-sm-12 col-md-12 col-lg-12" data-component="crn-datasource" id="crn-datasource-835617"> 
          <datasource name="Produto" entity="api/cronapi/crud/app.entity.Produto" keys="id" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill="" data-component="crn-datasource" filter=""></datasource> 
        </div> 
      </div> 
      <div class="row component-holder" data-component="crn-horizontal-container" id="crn-horizontal-container-770505"> 
        <div class="component-holder ng-binding ng-scope col-xs-12" data-component="crn-grid" id="crn-grid-102881"></div> 
        <div class="component-holder ng-binding ng-scope col-xs-12" data-component="crn-grid" id="crn-grid-846141"> 
          <div crn-datasource=""> 
            <table class="table table-bordered table-hover"> 
              <thead> 
                <tr class="table-header"> 
                  <th class="active"> 
                    <div data-container="true">Produto</div></th> 
                  <th class=""> 
                    <div data-container="true">Quantidade</div></th> 
                <th class=""></th></tr> 
              </thead> 
              <tbody> 
                <tr class="table-content" ng-repeat="item in vars.Lista"> 
                  <td class="active"> 
                    <div data-container="true">{{item.produto.nome}}</div></td> 
                  <td class=""> 
                    <div data-container="true">
                       {{item.quantidade}} 
                    </div></td> 
                <td class=""><button class="btn btn-default component-holder btn-block" ng-click="vars.Lista.splice($index, 1)" type="submit" xattr-size="" xattr-fullsize="btn-block" xattr-theme="btn-default" data-component="crn-button" id="crn-button-966710"><i class="glyphicon glyphicon-remove"></i> <span>Remover</span></button></td></tr> 
              </tbody> 
            </table> 
            <div class="table-footer-controls"> 
              <button class="btn btn-default btn-block btn-clicked" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">Load more...</button> 
            </div> 
          </div> 
        </div> 
      </div> 
      <div class="panel-footer" data-container="true"> 
         
        <button class="btn component-holder btn-block btn-lg btn-info" type="submit" ng-click="cronapi.util.makeCallServerBlocklyAsync('blockly.ObterCarrinho:inserir', null, null)" xattr-size="btn-lg" xattr-fullsize="btn-block" xattr-theme="btn-info" data-component="crn-button" id="crn-button-975266"><i class="glyphicon glyphicon-ok"></i> <span>Finalizar</span></button> 
      </div> 
    </div> 
  </div> 
</div>