<div id="starter" ng-init="cronapi.util.makeCallServerBlocklyAsync('blockly.DashBoardWeb:vendas', null, null)" ng-destroy=""><ion-view view-title="CronApp"> 
  <ion-content> 
    <div class="component-holder ng-binding ng-scope" data-component="crn-div" id="crn-div-929090" style="padding-top: 60px;"> 
      <div class="list"> 
        <div class="col text-center"> 
          <div class="component-holder ng-binding ng-scope" data-component="crn-image" id="crn-image-174578" ng-click="vibrate()"> 
            <img src="img/logo.png"> 
          </div> 
        </div> 
        <div class="component-holder ng-binding ng-scope" data-component="crn-div-horizontal" id="crn-div-horizontal-270296"> 
          <div class="row"> 
            <div class="col active"> 
              <div class="text-center"> 
                 
              </div> 
            </div> 
            <div class="col"> 
              <div></div> 
            </div> 
            <div class="col"> 
              <div></div> 
            </div> 
            <div class="col"> 
              <div></div> 
            </div> 
            <div class="col"> 
              <div></div> 
            </div> 
          </div>
           
        </div> 
      </div> 
    </div><div data-component="crn-chart" class="component-holder" id="crn-chart-386132"> <h1 data-component="crn-heading" class="component-holder col-xs-12 text-center" id="crn-heading-975761" xattr-position="text-center">Produtos Vendidos</h1><canvas id="grafico1" data-component="crn-chart" class="col-xs-12"></canvas></div> 
  </ion-content> 
</ion-view></div>