<div id="starter" ng-init="blockly.js.CriarCarrinho.criar()" ng-destroy=""> 
  <ion-view cache-view="false" view-title="Pedido" hide-back-button="true"> 
    <ion-content data-replace="false"> 
      <button class="button component-holder button-large button-full button-balanced" type="submit" ng-click="cronapi.util.makeCallServerBlocklyAsync('blockly.ObterCarrinhoMobile:inserir', null, null)" data-component="crn-button" id="crn-button-272456" xattr-size="button-large" xattr-type="" xattr-fullsize="button-full" xattr-theme="button-balanced"><i class="ion ion-android-cart"></i> <span>Finalizar</span></button><div class="component-holder ng-binding ng-scope" data-component="crn-datasource" id="crn-datasource-306237"> 
        <datasource name="Produto" entity="api/cronapi/query/1ib8qn0k2em2a/" keys="id" rows-per-page="100" on-before-create="" on-after-create="" on-before-update="" on-after-update="" on-before-delete="" on-after-delete="" on-after-fill=""></datasource> 
      </div> 
      <div class="component-holder ng-binding ng-scope" data-component="crn-list" id="crn-list-126006"> 
        <div crn-datasource="Produto"> 
          <div class="list" ng-repeat="rowData in datasource.data" data-replace="false" data-container="true" style="margin-bottom:0px"> 
            <a class="item item-thumbnail-left component-holder" data-component="crn-list-item-thumbnail" id="crn-list-item-thumbnail-344590"><img src="img/{{rowData[0]}}.jpg" class="component-holder" xattr-position="" data-component="crn-image" id="crn-image-1002213"><h2>{{rowData[0]}}</h2><h2 class="ng-hide">{{rowData[2]}}</h2><h2>R$ {{rowData[1]}}</h2><button class="button component-holder button-small button-positive button-full" type="submit" ng-click="blockly.js.CriarCarrinho.inserir(rowData[0], rowData[1], rowData[2])" data-component="crn-button" id="crn-button-294267" xattr-fullsize="button-full" xattr-type="" xattr-size="button-small" xattr-theme="button-positive"><i class="ion ion-android-add"></i> <span>Adicionar</span></button></a> 
          </div> 
        </div> 
      </div> 
      
    </ion-content> 
  </ion-view> 
</div>